.btn-outline-info{
  color: #F5F8DE;
  border-color: #C62513;
}

.bg-dark{
  background-color: #220901 !important;
  border-radius: 0px;
  z-index: 1;
}

.navbar-brand{
  color: #F5F8DE !important;
}

.nav-link{
  color: #F5F8DE;
  font-size: 14px;
}